.products {
  display: inline-block;
  padding: 20px;
 margin: auto;
 margin-left: 15%;
 text-align: center;
}

.cart {
  display: flex;

}

.cart h3 {
  margin-right: 60%;
}

.title {
  background-color: grey;
  color: white;
  font-size: xx-large;
  margin: 0%;
  border: 1px solid white;
  text-align: center;
}

.button {
  border-radius: 10px;
  border: transparent;
  background-color: green;
  color: white;
  padding: 0 5px;
}